/.settings
/docs/html
/docs/latex
/docs/man
/docs/rtf
.idea/
/simple
/libpropeller
/Examples/TestApp
/.external_downloads
bin/
CMakeFiles
CMakeCache.txt
cmake_install.cmake
CMakeLists.txt.user
__pycache__
.cproject
.**project
**.cbp
objects.mk
sources.mk
subdir.mk
makefile
Makefile
**.pyc
**~
**.swp
**.zip
**.iml
atlassian-ide-plugin.xml

# Ignore the Simple header files in the root directory
/*.h
