/.settings
.idea/
/simple
/Examples/TestApp
bin/
CMakeFiles
CMakeCache.txt
cmake_install.cmake
CMakeLists.txt.user
.cproject
.**project
**.cbp
objects.mk
sources.mk
subdir.mk
makefile
Makefile
**~
**.swp
**.zip
**.iml
atlassian-ide-plugin.xml

# Doxygen-generated
Doxyfile
docs/static-web/src/download.html
docs/static-web/src/getting-started.html
/docs/doxygen/latex
/docs/doxygen/man
/docs/doxygen/rtf
/docs/doxygen/xml
/docs/doxygen/docbook
/docs/static-web/api-*
