[submodule "libpropeller"]
	path = libpropeller
	url = https://github.com/libpropeller/libpropeller.git
[submodule "propsideworkspace"]
	path = propsideworkspace
	url = https://github.com/parallaxinc/propsideworkspace.git
[submodule "CMakeModules"]
	path = CMakeModules
	url = https://github.com/DavidZemon/PropWare-Build.git
[submodule "libArduino"]
	path = libArduino
	url = https://github.com/DavidZemon/libArduino.git
[submodule "Simple-Libraries"]
	path = Simple-Libraries
	url = https://github.com/parallaxinc/Simple-Libraries
[submodule "ArduinoJson"]
	path = ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
