/docs
/Debug
**.elf
**.o
objects.mk
sources.mk
subdir.mk
makefile
PropGCC_Demos/MCP300x/MCP300x_Datasheet.pdf
PropGCC_Demos/**/PropWare.*
PropGCC_Demos/**/spi.*
PropGCC_Demos/**/spi_as.S
PropGCC_Demos/**/sd.*
PropGCC_Demos/**/mcp300x.*
PropGCC_Demos/**/hd44780.*
PropGCC_Demos/**/l3g.*
**~
/.cproject
/.project
/SPI_c.c
/SPI_c.h
